<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contattaci!</h2>
                <hr class="primary">
                <p>Per avere più dettagli sul prodotto o chiedere una demo presso la tua sede, chiamaci o scrivici una mail. Saremo lieti di fornirti tutte le informazioni di cui hai bisogno.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>ETIC S.r.l. +39 051.759701</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@eticsrl.it">info@eticsrl.it</a></p>
            </div>
        </div>
    </div>
</section>

