<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Semplicità innanzitutto</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Pronta Consegna</h3>
                    <p class="text-muted">Acquista una SMART Kapp, è in pronta consegna quindi la riceverai subito.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  fa-clock-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Installazione rapida</h3>
                    <p class="text-muted">Puoi installarla a muro con i tasselli e il supporto a muro in dotazione, o acquistare a parte il supporto trasportabile.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Scrivi e condividi</h3>
                    <p class="text-muted">Accendi la lavagna, scarica l'app, fai il pairing con il tuo device e invita chi vuoi alla sessione, fino a 250 partecipanti.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Salva gli appunti</h3>
                    <p class="text-muted">In ogni momento puoi salvare uno snaphot delle note. Al termine, invia gli snapshot o il PDF a chi vuoi.</p>
                </div>
            </div>
        </div>
    </div>
</section>

