<section id="specs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Specifiche</h2>
                <br />
            </div>





                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="20%" ></th>
                                    <td width="40%">SMART kapp 42</td>
                                    <td width="40%">SMART kapp 84</td>
                                </tr>
                                <tr>
                                    <th> </th>
                                    <td>
                                        <%= image_tag  "creative/kapp42.png", alt: "SMART kapp 42" %>
                                    </td>
                                    <td>
                                        <%= image_tag  "creative/kapp84.png", alt: "SMART kapp 84" %>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Dimensioni</th>
                                    <td>44 1/8" x 23" x 3 1/8"</td>
                                    <td>72" x 53" x 5 1/4"</td>
                                </tr>
                                <tr>
                                    <th>Pesi</th>
                                    <td>15 kg</td>
                                    <td>26 kg</td>
                                </tr>
                                <tr>
                                    <th>Montaggio</th>
                                    <td>
                                        Include staffa di montaggio a muro
                                        <br />
                                        Compatibile con standard VESA 400mm x 400mm
                                    </td>
                                    <td>
                                        Include staffa di montaggio a muro
                                        <br />
                                        Compatibile con standard VESA 600mm x 400mm
                                    </td>
                                </tr>
                                <tr>
                                    <th>Utenti simultanei</th>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th>Superficie</th>
                                    <td>Vetro</td>
                                    <td>Acciaio laminato verniciato</td>
                                </tr>
                                <tr>
                                    <th>Accessori inclusi</th>
                                    <td>
                                        Pennarelli tipo lavabile (3)
                                        <br />
                                        Cancellino
                                    </td>
                                    <td>
                                        Pennarelli tipo lavabile (4)
                                        <br />
                                        Cancellino
                                    </td>
                                </tr>
                                <tr>
                                    <th>App</th>
                                    <td>Companion App per iOS e Android disponibili su Apple App Store and Google Play Store</td>
                                    <td>Companion App per iOS e Android disponibili su Apple App Store and Google Play Store</td>
                                </tr>
                                <tr>
                                    <th>Ambiente di lavoro ideale</th>
                                    <td>
                                        Piccola azienda
                                        <br />
                                        Classi scolastiche
                                        <br />
                                        Office cubicles
                                        <br />
                                        Uffici amministrativi
                                        <br />
                                        Meeting rooms
                                    </td>
                                    <td>
                                        Medie e grandi aziende
                                        <br />
                                        Sale conferenze
                                        <br />
                                        Uffici amminstrativi
                                        <br />
                                        Meeting rooms
                                    </td>
                                </tr>
                                <tr>
                                    <th>Garanzia (inclusa)</th>
                                    <td>2 anni</td>
                                    <td>2 anni</td>
                                </tr>
                            </tbody>
                        </table>




        </div>
    </div>
</section>

