<section class="video_demo" id="video_demo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">

                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/t0rtrVHoLhM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
   
            </div>
        </div>
    </div>
</section>
